$orange: #B34705;
$lightpink: #FFC7CE;
$snowwhite: #ECF0F1;
$darkpink: #9C2851;
$brown: #2B2118;
$main-font: 'Fira Sans', sans-serif;
$secondary-font: 'Philosopher', sans-serif;

h1, h2, h3, h4, h5, h6, a {
	font-family: $main-font;
}

p {
	font-family: $secondary-font;
}

.entry-content {
	margin: 0;
}

.entry-title {
	display: none;
}

ul {
	margin: 0%;
	padding: 0%;
}

.wp-block-columns {
	margin-bottom: 0%;
}

.site-header {	
	height: 65px;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 99999;
	letter-spacing: 2px;
	text-align: center;
	background: linear-gradient(to bottom, white, $lightpink);

	.external {
		border: 1px solid white;
		border-radius: 5px;
		height: fit-content;
		padding: 0px;
		margin: 12px;
		text-align: center;

		a{
			padding: 5px;
			text-align: center;
			background-color: white;
		}
	}
	.site-branding {
			float: left;
			margin: 0px 5px;
			height:auto;
			width:auto;

		.site-description, .site-name{
			display: inline-block;
			text-decoration: none;
			padding:20px;
			color: $darkpink;
			margin: 0%;
			font-weight: 600;
			
			img {

			}
		}
	
		a:active{
			color: $orange;
		}

		a:visited{
			color: none;
		}


	}
}
.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
		float: right;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			a:active{
				color: $orange;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding:20px;
		color: $darkpink;
	}

	a:active{
		color: $orange;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }
.menu-toggle {
	display: block;
	padding: 10px 10px 0px 0px;
	position: absolute;
	right: 2px;
	background-color: transparent;
	border: none;
	border-radius: 0;
	}
	.main-navigation.toggled {
	
	display: block;
	right: 0px;
	width: 100%;
	
	.menu-primary-menu-container {
		width: 50%;
	}
	
	ul {
		width: 20%;
		display: block;
		position: absolute;
		height: auto;
		right: 0;
		margin: 65px 0 0 1px;
		text-align: center;
		transform: translateX(0%);
		transition: transform 5s ease-in;
		// background-color: hwb(37 1% 5% / 0.545);
		background: linear-gradient(to left, $darkpink, transparent);
	
	
		li a {
			padding: 3%;
			width: 100%;
			color: $brown;
			// background: radial-gradient($offwhite, transparent, transparent);
			background: linear-gradient(to left, transparent, rgb(255, 248, 240, 0.5), transparent);
			
		}
	}
	}
.burger-menu {
	display: flex;
	font-weight: 400;
	font-size: 2rem;
	color: $darkpink;
	padding: 0%;
	margin: 0%;
	}
@media screen and (min-width: 821px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
